html {
	padding: 0;
	margin: 0;
}
body {
	background-color: #efefef;
	font-family: tahoma;
	font-size: 100%;
}
#header {
	width: 100%;
	background: #000;
	height: 60px;
}
#header .insider {
	width: 980px;
	margin: 0 auto;
}
#main {
	width: 980px;
	margin: 0 auto;
}
.column {
	width: 960px;
	padding: 10px;
	background-color: #ccc;
}
.column-left {
	padding: 10px;
	float: left;
	display: block;
	width: 780px;
	background-color: #ff6600;
}
.result-right {
	padding: 10px;
	display: block;
	width: 160px;
	float: left;
	background-color: #666;
}
